{% block title %}
    <span class="contact1-form-title">
Sorties
</span>
{% endblock %}


{% block body %}
<form action="{{ path('accueil') }}" method="post">
    <label for="filtrer" style="float: left;">
    <h2>Filtrer les sorties</h2>
    </label>


</form>

{% endblock %}