{% extends 'layout.html.twig ' %}

{% block title %}
annulation
{% endblock %}

{% block body %}
<section class="contact_section layout_padding mt-0 pt-5">
    <div class="container">

        <div class="row mb-2">
            {% set i = 0 %}
            {%  for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} mx-auto" role="alert">
                        {{ message }}
                    </div>
                {%  endfor %}
            {%  endfor %}
        </div>


        <div class="heading_container">
            <h2>Annuler une sortie</h2>
        </div>


    </div>
</section>



{% endblock %}

