<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a id="a_footer" href="https://www.eni-ecole.fr/"> www.eni-ecole.fr </a>
    </div>
</footer>