
<!-- footer section -->
<section class="container-fluid footer_section">
    <div class="container">
        <p>
            &copy; 2020 Copyright:
            <a id="a_footer" href="https://www.eni-ecole.fr/"> www.eni-ecole.fr </a>
        </p>
    </div>
</section>