
@media (max-width: 992px) {
  .navbar-nav {
    align-items: center;
  }

  .nav-link {
    margin: 15px 30px;
  }

  .footer_section p {
    width: 100%;
  }
}


@media (max-width: 576px) {
  .heading_container h2::before {
    top: -15px;
    right: 50%;
    transform: translate(50%, -50%);
  }

}


@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}