
body {
    font-family: 'Poppins', sans-serif;
}

.bouton1 {
    display: inline-block;
    padding: 10px 30px;
    background-color: #0fcfdc;
    border-radius: 5px;
    color: white;
    text-align: center;
    align-self: center;
    margin-top: 30px ;
    outline: none;
    border: none;
}

.bouton1:hover {
    background-color: #0fcfdc;
    color: black;
}

.bouton2 {
    display: inline-block;
    padding: 10px 30px ;
    background-color: 	#bf6040;
    border-radius: 5px;
    color: white;
    text-align: center;
    align-self: center;
}

.bouton2:hover {
    color: black;
}

.bouton3 {

    display: inline-block ;
    padding: 10px 30px;
    background-color: 	#bf4040;
    border-radius: 5px;
    color: white;
    text-align: center;
    align-self: center;
}

.bouton3:hover {
    color: black;
}

#map_box {
    border: 2px solid #0fcfdc;
    border-radius: 5px;
}

.detail-box {
    border: 1px solid #0fcfdc;
    margin: 5px 2px 5px 2px;
    text-align: center;
    padding: 1px;
}

.fa-plus-square {
    color: #0fcfdc;
}

.fa-plus-square:hover {
    color: #2a2132
}


/* card bouton */
.detail-box a {
    display: inline-block;
    padding: 5px 10px;
    background-color: black;
    color: white;
    border-radius: 40px;
    text-transform: uppercase;
    margin-top: 10px;
}
.detail-box a:hover{
    color: #0fcfdc;
}


h2 {
    font-weight: bold;
    text-transform: uppercase;
}

a:hover,
a:focus {
    color: black;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

.heading_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.navbar-toggler-icon {
    background-image: url(../images/menu.png);
    background-size: 45px; /*pour que l'icone ait une grandeur definie */
}

.nav-link {
    margin: 10px 10px;
    padding: 0;
    color: #0fcfdc;
    text-align: center;
    position: relative;
    text-transform: uppercase;

}

.nav-link:hover .nav-link::before {
    color: #2a2132;
}

.dropdown ul{
    list-style-type: none;
    padding-left: 0;
}

#titrePage {
    font-size: 20px;
    font-weight: 700;
    color: #0fcfdc;
    text-transform: uppercase;
}

.contact_section { /* image du fond */
    margin-top: 50px !important;
    background-image: url(../images/contact-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
    padding-bottom: 250px;
    position: relative;
}

/*pour les inputs du formulaire */
.contact_form-container input {
    border: none;
    outline: none;
    border-bottom: 1px solid #000000;
    color: #000000;
    width: 100%;
    margin: 15px 0;
    background-color: transparent;
}


/* footer */

.footer_section {
    background-color: #211d25;
    display: flex;
    justify-content: center;
    position: relative;
}

.footer_section p {
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
    width: 55%;
}

.footer_section a {
    color: #ffffff;
}