$white: #ffffff;
$primary1: #0fcfdc;
$black:#000000;



@mixin main-font {
  font-family: 'Poppins', sans-serif;
}

@mixin secondary-font {
  font-family: 'Poppins', sans-serif;
}



@mixin upperBold {
  text-transform: uppercase;
  font-weight: bold;
}



body {
  @include main-font;
  color: #0c0c0c;
  background-color: #ffffff;
}


.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h2 {
    position: relative;
    font-weight: bold;
    text-transform: uppercase;

    span {
      position: relative;
      z-index: 2;
    }

    &::before {
      content: "";
      position: absolute;
      width: 35px;
      height: 26px;
      top: 50%;
      right: -40px;
      transform: translateY(-50%);
      z-index: 1;
      background-repeat: no-repeat;
    }
  }
}

/*header section*/
.hero_area {
  height: 136vh;
  position: relative;
}

.sub_page {
  .hero_area {
    height: auto;
    background-image: none;
    background-color: #e1f3fd;

    &::after {
      display: none;
    }
  }
}


.header_section {
  .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  }

  .nav_container {
    margin: 0 auto;
  }


}

.custom_nav-container {

  .navbar-nav {
    .nav-item {
      .nav-link {
        margin: 10px 30px;
        padding: 0;
        color: $primary1;
        text-align: center;
        position: relative;
        text-transform: uppercase;

        &::before {
          content: "";
          width: 5px;
          height: 5px;
          position: absolute;
          top: 50%;
          left: -10px;
          transform: translateY(-50%);
          background-color: $primary1;
          border-radius: 100%;
        }

      }

      &.active,
      &:hover {
        .nav-link {
          color: #2a2132;

          &::before {
            background-color: #2a2132;
          }
        }
      }
    }
  }

}




.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center 5px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}


.navbar-brand {
  display: flex;
  align-items: center;

  img {
    width: 30px;
    margin-right: 5px;
  }

  span {
    font-size: 20px;
    font-weight: 700;
    color: $primary1;
    text-transform: uppercase;
  }
}

.custom_nav-container {
  z-index: 99999;
  padding-top: 20px;
  align-items: flex-end; //for this site only
}

.navbar-expand-lg .navbar-collapse {
  align-items: flex-end; //for this site only
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 45px;
}

.quote_btn-container {}

/*end header section*/




/*
    .box-1,
    .box-2 {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-items: stretch;
    }

    .box-2-btm {
      display: flex;
      justify-content: stretch;
      align-items: stretch;

      .box-2-left {
        display: flex;
      }
    }
  }

  .see_btn {
    display: flex;
    justify-content: center;

    a {
      @include hero_btn($black, $white, 12px, 60px, 40px, lighten($black, 20));
      text-transform: uppercase;
      margin-top: 35px;
    }
  }*/
}

// end portfolio section



/* contact section */
.contact_section {
  background-image: url(../images/contact-bg.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  padding-bottom: 250px;
  position: relative;


  .contact_form-container {
    margin-top: 45px;

    input {
      border: none;
      outline: none;
      border-bottom: 1px solid $black;
      color: $black;
      width: 100%;
      margin: 15px 0;
      background-color: transparent;

      &::placeholder {
        color: $black;
      }

      &.message_input {
        margin-top: 55px;
      }
    }


  }
}

/* end contact section */



// info section
.info_section {
  background-color: #211d25;
  color: $white;
  @include secondary-font();

  .info_container {
    width: 75%;
    margin: 0 auto;
  }

  .info_social {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      text-transform: uppercase;
    }

    .social_box {
      display: flex;
      margin: 15px auto;
      align-items: center;

      img {
        min-width: 10px;
        margin: 0 3px;
      }
    }
  }


}

// end info section

/* footer section*/


}

// end footer section

.footer_section {
  background-color: #211d25;
  display: flex;
  justify-content: center;
  position: relative;
  @include secondary-font();
}

.footer_section p {
  color: $white;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  width: 55%;
}

.footer_section {
  a {
    color: $white;
  }