{% extends 'layout.html.twig' %}

{% block body %}
    <div class="heading_container mb-0 pb-0">
        <h2>
            Le site a rencontré une erreur !
        </h2>
    </div>
{% endblock %}
{% block title %}Erreur sur le site{% endblock %}