{% extends 'layout.html.twig' %}

{% block body %}
    <div class="heading_container mb-0 pb-0">
        <h2>
            Page non trouvée...!! Revenez plus tard
        </h2>
    </div>
{% endblock %}
{% block title %}Accès refusé{% endblock %}