{% extends 'layout.html.twig' %}

{% block body %}
    <div class="heading_container mb-0 pb-0">
        <h2>
            L'accès à la page demandée a été refusé.
        </h2>
        <h3>
            Veuillez contacter l'administrateur pour plus d'informations.
        </h3>
    </div>
{% endblock %}
{% block title %}Accès refusé{% endblock %}